$bitcoin-orange: #f7931a;
$soft-orange: #ffe9d5;
$secondary-blue: #1a9af7;
$soft-blue: #e7f5ff;
$warm-black: #282623;
$black: #201e1c;
$light-grey: #bababa;
$light-grey-2: #757575;
$grey: #808080;
$off-white: #faf8f7;
$just-white: #fff;


html {
    font-size: 62.5%;
}


.main {
    width: 100%;
    min-width: 32rem;
    height: auto;
    background-color: var($off-white);
}

// @import './header';
// @import './section-charts';
// @import './section-btc-img';
// @import './section-products';
// @import './section-plans';
// @import './footer';
@import './header', './section-charts', './section-btc-img', './section-products', './section-plans', './footer';